Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-devel: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-9-standalone-osa: (any of: ^.zuul.yaml$, ^plugins/module_utils/openstack.*$, ^plugins/modules/catalog_service.*$, ^plugins/modules/compute_flavor.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/image.*$, ^plugins/modules/keypair.*$, ^plugins/modules/network.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/router.*$, ^plugins/modules/stack.*$, ^plugins/modules/subnet.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^changelogs/.*$, ^contrib/.*$, ^docs/.*$, ^meta/.*$, ^requirements.*$, ^setup.*$, ^tests/.*$, ^tools/.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml

Improved compatibility with both tox>3,<4 and tox>=4
  .zuul.yaml
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Use Neutron instead of Nova when detaching floating ips if available
  plugins/modules/floating_ip.py
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Add reboot and reboot_hard actions on server
  ci/roles/server/tasks/server_actions.yml
  plugins/modules/server_action.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Updated docs
  CONTRIBUTING.rst
  README.md
  docs/branching.md
  docs/contributing.md
  docs/devstack.md
  docs/openstack_guidelines.rst
  docs/releasing.md
  docs/reviewing.md
Due: none

Added is_multiattach parameter to volume module
  ci/roles/volume/defaults/main.yml
  plugins/modules/volume.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Fixed docs
  docs/branching.md
  docs/contributing.md
Due: none

Refactored loadbalancer module breaking backward compatibility
  .zuul.yaml
  ci/roles/loadbalancer/defaults/main.yml
  ci/roles/loadbalancer/tasks/main.yml
  plugins/modules/loadbalancer.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored lb_{health_monitor,listener,member,pool} modules
  ci/roles/loadbalancer/tasks/lb_modules.yml
  ci/roles/loadbalancer/tasks/main.yml
  plugins/modules/lb_health_monitor.py
  plugins/modules/lb_listener.py
  plugins/modules/lb_member.py
  plugins/modules/lb_pool.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored coe_cluster{,_template} modules
  .zuul.yaml
  ci/roles/coe_cluster/defaults/main.yml
  ci/roles/coe_cluster/tasks/main.yml
  ci/roles/coe_cluster_template/defaults/main.yml
  ci/roles/coe_cluster_template/tasks/main.yml
  ci/run-ansible-tests-collection.sh
  ci/run-collection.yml
  plugins/modules/coe_cluster.py
  plugins/modules/coe_cluster_template.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored security_group{,_info} modules
  ci/roles/port/defaults/main.yml
  ci/roles/port/tasks/main.yml
  ci/roles/security_group/defaults/main.yml
  ci/roles/security_group/tasks/main.yml
  ci/roles/security_group_rule/defaults/main.yml
  ci/roles/security_group_rule/tasks/main.yml
  ci/roles/server/tasks/main.yml
  plugins/modules/security_group.py
  plugins/modules/security_group_info.py
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored security_group_rule{,_info} modules
  ci/roles/security_group_rule/tasks/main.yml
  plugins/modules/security_group_rule.py
  plugins/modules/security_group_rule_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Added parameter for managing rules in security_group module
  ci/roles/security_group/tasks/main.yml
  ci/roles/security_group/tasks/rules.yml
  plugins/modules/security_group.py
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored compute_service_info module
  ci/roles/compute_service/defaults/main.yml
  ci/roles/compute_service/tasks/main.yml
  ci/roles/nova_services/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/compute_service_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored project{,_info} modules
  ci/roles/compute_flavor_access/tasks/main.yml
  ci/roles/image/tasks/main.yml
  ci/roles/neutron_rbac_policy/tasks/main.yml
  ci/roles/project/defaults/main.yml
  ci/roles/project/tasks/main.yml
  ci/roles/project_info/tasks/main.yml
  ci/roles/role_assignment/tasks/main.yml
  ci/roles/router/tasks/shared_network.yml
  ci/roles/volume_type_access/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/project.py
  plugins/modules/project_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Inlined network_external variable
  ci/roles/network/defaults/main.yml
  ci/roles/network/tasks/main.yml
  ci/roles/neutron_rbac_policy/tasks/main.yml
  ci/roles/port/defaults/main.yml
  ci/roles/port/tasks/main.yml
  ci/roles/router/defaults/main.yml
  ci/roles/router/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Added support for 'any' protocol in security group rules
  ci/roles/security_group_rule/tasks/main.yml
  plugins/modules/security_group.py
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored compute_flavor_info module
  ci/roles/compute_flavor/tasks/main.yml
  plugins/modules/compute_flavor_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fixed ci integration tests for server actions
  ci/roles/server/tasks/server_actions.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored image{,_info} modules
  ci/roles/image/tasks/main.yml
  ci/roles/image_info/defaults/main.yml
  ci/roles/image_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/image.py
  plugins/modules/image_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Removed TripleO related Zuul CI jobs
  .zuul.yaml
Due: tripleo-ci-centos-9-standalone-osa

Warn about issues with (de)attaching floating ip addresses to/from servers
  plugins/modules/floating_ip.py
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored server_action module
  ci/roles/server/tasks/main.yml
  ci/roles/server_action/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/server_action.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Added resource{,s} modules
  ci/roles/resource/defaults/main.yml
  ci/roles/resource/tasks/check_mode.yml
  ci/roles/resource/tasks/main.yml
  ci/roles/resources/defaults/main.yml
  ci/roles/resources/tasks/main.yml
  ci/run-collection.yml
  meta/runtime.yml
  plugins/module_utils/resource.py
  plugins/modules/resource.py
  plugins/modules/resources.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored identity_domain{,_info} modules
  ci/roles/identity_domain/defaults/main.yml
  ci/roles/identity_domain/tasks/main.yml
  ci/roles/identity_domain_info/defaults/main.yml
  ci/roles/identity_domain_info/tasks/main.yml
  ci/roles/identity_group/tasks/main.yml
  ci/roles/keystone_domain/defaults/main.yml
  ci/roles/keystone_domain/tasks/main.yml
  ci/roles/keystone_federation_protocol/tasks/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  ci/roles/user_role/tasks/main.yaml
  ci/run-collection.yml
  plugins/modules/identity_domain.py
  plugins/modules/identity_domain_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored identity_group{,_info} modules
  ci/roles/identity_group/defaults/main.yml
  ci/roles/identity_group/tasks/main.yml
  ci/roles/identity_group_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_group.py
  plugins/modules/identity_group_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored identity_role{,_info} modules
  ci/roles/identity_role/defaults/main.yml
  ci/roles/identity_role/tasks/main.yml
  ci/roles/identity_role_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_role.py
  plugins/modules/identity_role_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored identity_user{,_info} modules
  ci/roles/identity_user/defaults/main.yml
  ci/roles/identity_user/tasks/main.yml
  ci/roles/identity_user_info/defaults/main.yml
  ci/roles/identity_user_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_user.py
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored federation_idp{,_info} modules
  ci/roles/keystone_idp/defaults/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/federation_idp.py
  plugins/modules/federation_idp_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Pivoted docs to generic resource{,s} modules and StateMachine class
  README.md
  docs/contributing.md
Due: none

Refactored tests for keystone_federation_protocol{,_info} modules
  ci/roles/keystone_federation_protocol/defaults/main.yml
  ci/roles/keystone_federation_protocol/tasks/main.yml
  ci/run-collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Sorted Ansible roles with ci integration tests
  ci/run-collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored {group,role}_assignment modules
  ci/roles/group_assignment/tasks/main.yml
  ci/roles/role_assignment/tasks/main.yml
  ci/roles/user_group/tasks/main.yml
  ci/roles/user_role/defaults/main.yaml
  ci/roles/user_role/tasks/main.yaml
  ci/run-collection.yml
  plugins/modules/group_assignment.py
  plugins/modules/role_assignment.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored inventory script
  ci/roles/inventory/files/ansible.cfg
  ci/roles/inventory/tasks/main.yml
  ci/roles/inventory/templates/openstack.yaml.j2
  ci/run-collection.yml
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Dropped unmaintained, obsolete and broken inventory script
  scripts/inventory/openstack.yml
  scripts/inventory/openstack_inventory.py
  setup.cfg
  tools/run-ansible-sanity.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src
