Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-devel: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-9-standalone-osa: (any of: ^.zuul.yaml$, ^plugins/module_utils/openstack.*$, ^plugins/modules/catalog_service.*$, ^plugins/modules/compute_flavor.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/image.*$, ^plugins/modules/keypair.*$, ^plugins/modules/network.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/router.*$, ^plugins/modules/stack.*$, ^plugins/modules/subnet.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^changelogs/.*$, ^contrib/.*$, ^docs/.*$, ^meta/.*$, ^requirements.*$, ^setup.*$, ^tests/.*$, ^tools/.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml

Refactored baremetal_port and baremetal_port_info modules
  ci/roles/baremetal_port/defaults/main.yml
  ci/roles/baremetal_port/tasks/main.yml
  plugins/modules/baremetal_port.py
  plugins/modules/baremetal_port_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Updates volume for 2.0.0
  ci/roles/volume/defaults/main.yml
  ci/roles/volume/tasks/main.yml
  ci/roles/volume/tasks/volume_info.yml
  plugins/modules/volume.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Change subnets_info module to work with new SDK
  ci/roles/subnet/defaults/main.yml
  ci/roles/subnet/tasks/main.yml
  ci/roles/subnet/tasks/subnet-allocation.yml
  plugins/modules/subnets_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored ci script with shellcheck suggestions and install collections
  ci/requirements.yml
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Always remove temporary files in volume's integration test
  ci/requirements.yml
  ci/roles/volume/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Run *-devstack-ansible-devel job on Ubuntu 22.04 LTS (Jammy Jellyfish)
  .zuul.yaml
Due: tripleo-ci-centos-9-standalone-osa

Revert openstack.cloud.server parameter user_data to userdata
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Existing images update name, visibility etc
  ci/roles/image/tasks/main.yml
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fix documentation defaults for modules
  plugins/modules/loadbalancer.py
  plugins/modules/routers_info.py
  plugins/modules/security_group.py
  plugins/modules/server.py
  plugins/modules/stack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored volume_info module
  ci/roles/volume/tasks/volume_info.yml
  plugins/modules/volume_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored volume_backup{,_info} modules
  .zuul.yaml
  ci/roles/volume/tasks/main.yml
  ci/roles/volume_backup/defaults/main.yml
  ci/roles/volume_backup/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/volume_backup.py
  plugins/modules/volume_backup_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fixed check mode
  plugins/modules/baremetal_node.py
  plugins/modules/port.py
  plugins/modules/server.py
  plugins/modules/volume_backup.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored volume_snapshot{,_info} modules
  .zuul.yaml
  ci/roles/volume/tasks/main.yml
  ci/roles/volume_snapshot/defaults/main.yml
  ci/roles/volume_snapshot/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/volume_snapshot.py
  plugins/modules/volume_snapshot_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Renamed image->image_name and flavor->flavor_name to avoid collisions
  ci/roles/compute_flavor/tasks/main.yml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/image/defaults/main.yml
  ci/roles/image/tasks/main.yml
  ci/roles/keystone_domain/tasks/main.yml
  ci/roles/server/defaults/main.yml
  ci/roles/server/tasks/main.yml
  ci/roles/server/tasks/server_actions.yml
  ci/roles/server_volume/tasks/main.yml
  ci/roles/volume/tasks/main.yml
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored config module
  .zuul.yaml
  ci/roles/client_config/tasks/main.yml
  ci/roles/config/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/config.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored integration test of openstacksdk logging feature
  ci/roles/logging/tasks/main.yaml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Use module defaults groups in ci integration tests to reduce code bloat
  ci/roles/keystone_federation_protocol/tasks/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  ci/roles/keystone_mapping/tasks/main.yml
  ci/roles/object_container/tasks/main.yml
  ci/roles/quota/defaults/main.yml
  ci/roles/quota/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Updates server_metadata for 2.0.0
  .zuul.yaml
  ci/roles/server_metadata/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/server_metadata.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Split project_access into {compute_flavor,volume_type}_access modules
  .zuul.yaml
  ci/roles/compute_flavor_access/tasks/main.yml
  ci/roles/volume_type_access/tasks/main.yml
  ci/run-collection.yml
  meta/runtime.yml
  plugins/modules/compute_flavor_access.py
  plugins/modules/project_access.py
  plugins/modules/volume_type_access.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored keystone_federation_protocol{,_info} modules
  ci/roles/keystone_federation_protocol/defaults/main.yml
  ci/roles/keystone_federation_protocol/tasks/main.yml
  plugins/modules/keystone_federation_protocol.py
  plugins/modules/keystone_federation_protocol_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored compute_flavor module
  plugins/modules/compute_flavor.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored federation_mapping{,_info} modules
  .zuul.yaml
  ci/roles/federation_mapping/defaults/main.yml
  ci/roles/federation_mapping/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/federation_mapping.py
  plugins/modules/federation_mapping_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Updates server_group for 2.0.0
  .zuul.yaml
  ci/roles/server_group/defaults/main.yml
  ci/roles/server_group/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/server_group.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored neutron_rbac_polic{ies_info,y} modules
  .zuul.yaml
  ci/roles/neutron_rbac_policy/defaults/main.yml
  ci/roles/neutron_rbac_policy/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/neutron_rbac_policies_info.py
  plugins/modules/neutron_rbac_policy.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored subnet_pool module
  ci/roles/subnet_pool/defaults/main.yml
  ci/roles/subnet_pool/tasks/main.yaml
  ci/roles/subnet_pool/tasks/main.yml
  plugins/modules/subnet_pool.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored catalog_service{,_info} and auth modules
  ci/roles/auth/defaults/main.yml
  ci/roles/auth/tasks/main.yml
  ci/roles/catalog_service/defaults/main.yml
  ci/roles/catalog_service/tasks/main.yml
  meta/runtime.yml
  plugins/modules/auth.py
  plugins/modules/catalog_service.py
  plugins/modules/catalog_service_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored object{,_container} modules breaking backward compatibility
  ci/roles/object/defaults/main.yml
  ci/roles/object/tasks/main.yml
  ci/roles/object_container/defaults/main.yml
  ci/roles/object_container/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/object.py
  plugins/modules/object_container.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored dns_zone{,_info} modules
  ci/roles/dns/defaults/main.yml
  ci/roles/dns/tasks/main.yml
  ci/roles/dns_zone/defaults/main.yml
  ci/roles/dns_zone/tasks/main.yml
  ci/roles/dns_zone_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/dns_zone.py
  plugins/modules/dns_zone_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Bump minimum required openstacksdk release to 0.103.0
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Allow setting flavor description
  plugins/modules/compute_flavor.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Allow all external commands in tox
  ci/run-ansible-tests-collection.sh
  tools/run-ansible-sanity.sh
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Added tests for router interface creation in a shared network
  ci/roles/router/tasks/main.yml
  ci/roles/router/tasks/shared_network.yml
  plugins/modules/routers_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Dropped obsolete module templates
  .zuul.yaml
  contrib/generate_module.sh
  contrib/module_info_template.py.j2
  contrib/module_template.py.j2
  contrib/module_template_vars.yaml
  galaxy.yml
  galaxy.yml.in
Due: tripleo-ci-centos-9-standalone-osa

Moved Octavia image upload and CirrOS image identification to Ansible
  .zuul.yaml
  ci/playbooks/get_amphora_tarball.yaml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/loadbalancer/tasks/main.yml
  ci/roles/server/tasks/main.yml
  ci/roles/server_metadata/tasks/main.yml
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Allow external commands in tox and use non-master branches on older releases
  .zuul.yaml
  ci/run-ansible-tests-collection.sh
  tools/run-ansible-sanity.sh
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Renamed image->image_name and flavor->flavor_name to avoid collisions
  ci/roles/compute_flavor_info/tasks/main.yml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/image/defaults/main.yml
  ci/roles/image/tasks/main.yml
  ci/roles/keystone_domain/tasks/main.yml
  ci/roles/server/defaults/main.yaml
  ci/roles/server/tasks/main.yml
  ci/roles/server/tasks/server_actions.yml
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Moved Octavia image upload and CirrOS image identification to Ansible
  .zuul.yaml
  ci/playbooks/get_amphora_tarball.yaml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/loadbalancer/tasks/main.yml
  ci/roles/server/tasks/main.yml
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Improved compatibility with both tox>3,<4 and tox>=4
  .zuul.yaml
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src
