Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-devel: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-queens-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-8-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-train-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml

Fix logic in routers_info
  plugins/modules/routers_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Drop username from return values of identity_user_info
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Temporarily set job openstack-tox-linters-ansible-2.9 to non-voting
  .zuul.yaml
Due: none

Dropped broken linter job openstack-tox-linters-ansible-2.9
  .zuul.yaml
Due: none

Support description in sg-rule creation
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Renamed image property protected to is_protected
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Follow up to bump of minimum required OpenStack SDK release to SDK 0.36.0 (Train)
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Move dns zone info to use proxy layer
  ci/roles/dns_zone_info/tasks/main.yml
  plugins/modules/dns_zone_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Use Rocky release of Heat in Queens job
  .zuul.yaml
Due: none

Added support for specifying a maximum version of the OpenStack SDK
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Removed object tags from ci role server
  ci/roles/server/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Constrain filters in compute_service_info to SDK >= 0.53.0
  ci/roles/nova_services/tasks/main.yml
  plugins/modules/compute_service_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Restricted galaxy-importer script to Python 3.6+
  tools/check-import.sh
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Changed our Zuul CI *-octavia job to non-voting
  .zuul.yaml
Due: none

Temporarily run passing tests in our Zuul CI jobs only
  .zuul.yaml
Due: none

Fixed return value disable{d,s}_reason in compute_service_info module
  ci/roles/nova_services/tasks/main.yml
  plugins/modules/compute_service_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fixed return values in compute_service_info module again
  ci/roles/nova_services/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update identity_role to work with latest sdk
  .zuul.yaml
  ci/roles/identity_role/defaults/main.yml
  ci/roles/identity_role/tasks/main.yml
  ci/roles/keystone_role/defaults/main.yml
  ci/roles/keystone_role/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_role.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Sychronize updates to identity_role from master branch
  .zuul.yaml
  ci/roles/identity_role/defaults/main.yml
  ci/roles/identity_role/tasks/main.yml
  ci/roles/keystone_role/defaults/main.yml
  ci/roles/keystone_role/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_role.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fixed return type of identity_role module
  plugins/modules/identity_role.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Removed job definitions for stable/1.0.0 branch
  .zuul.yaml
Due: none

Removed job definitions for master branch
  .zuul.yaml
Due: none

Use proxy layer in identity_user_info
  .zuul.yaml
  ci/roles/identity_user_info/defaults/main.yml
  ci/roles/identity_user_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Added description to RETURN doc of identity_user_info module
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backported changes to identity_user_info from master branch
  ci/roles/identity_user_info/defaults/main.yml
  ci/roles/identity_user_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src
