Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

ansible-collections-openstack-functional-devstack-base:
  parent: openstacksdk-functional-devstack
  post-run: ci/playbooks/postlog.yaml
  description: 'Run openstack collections functional tests against a devstack
  
    '
  required-projects:
  - openstack/ansible-collections-openstack
  - openstack/designate
  vars:
  ...

ansible-collections-openstack-functional-devstack:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk with latest ansible release
  
    '
  vars:
  ...

ansible-collections-openstack-functional-devstack-octavia-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Octavia plugin enabled
  
    '
  pre-run: ci/playbooks/get_amphora_tarball.yaml
  required-projects:
  - openstack/octavia
  vars:
    configure_swap_size: 8192
  ...

ansible-collections-openstack-functional-devstack-octavia:
  parent: ansible-collections-openstack-functional-devstack-octavia-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    with Octavia plugin enabled, using latest releases of openstacksdk
  
  ...

ansible-collections-openstack-functional-devstack-releases:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using latest releases of openstacksdk and latest ansible release
  
    '
  vars:
  ...

ansible-collections-openstack-functional-devstack-ansible-2.9:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.9 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.11:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.12:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

Update compute flavor module for 2.0.0
  .zuul.yaml
  ci/roles/compute_flavor/defaults/main.yml
  ci/roles/compute_flavor/tasks/main.yml
  ci/roles/compute_flavor_info/tasks/main.yml
  ci/roles/nova_flavor/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/compute_flavor.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update federation_idp to use proxy
  ci/roles/keystone_idp/defaults/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  plugins/modules/federation_idp.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Remove debug statement leftover
  plugins/modules/compute_flavor.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Deprecate special value 'auto' for attribute 'id' of compute_flavor
  plugins/modules/compute_flavor.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Release 1.9.0 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Fix release job
  ci/publish/publish_collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Add floating_ip_enabled flag to coe_cluster creation
  plugins/modules/coe_cluster.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Move keypair module to proxy layer
  ci/roles/keypair/tasks/main.yml
  plugins/modules/keypair.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Do not remove trailing spaces when reading public key in keypair module
  plugins/modules/keypair.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Release 1.9.1 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Use Python 3.10 for Ansible's devel branch
  .zuul.yaml
Due: tripleo-ci-centos-9-standalone-osa

Allow networks to be updated
  ci/roles/network/defaults/main.yml
  ci/roles/network/tasks/main.yml
  plugins/modules/network.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Makes security_group_rule_info compatible with new sdk version
  ci/roles/security_group_rule/tasks/main.yml
  plugins/modules/security_group_rule_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Update federation_mapping_info module to be compatible with new sdk
  ci/roles/keystone_mapping/defaults/main.yml
  ci/roles/keystone_mapping/tasks/main.yml
  plugins/modules/federation_mapping_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Update address scope to use proxy
  ci/roles/address_scope/defaults/main.yml
  ci/roles/address_scope/tasks/main.yml
  plugins/modules/address_scope.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Updated network module docs
  plugins/modules/network.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Bump minimum required openstacksdk release to 0.101.0
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
  tests/constraints-openstacksdk-0.x.x.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Specifically build master in tripleo periodic job
  .zuul.yaml
Due: tripleo-ci-centos-9-standalone-osa

Makes stack module compatible with new sdk version
  ci/roles/orchestration/defaults/main.yaml
  ci/roles/orchestration/tasks/main.yaml
  plugins/modules/stack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Don't use deprecated distutils from python 3.10
  plugins/module_utils/openstack.py
  scripts/inventory/openstack_inventory.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Lowered maximum OpenStack SDK version to 0.98.999 in inventory plugin
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Ensure openstacksdk compatibility in inventory plugin
  plugins/inventory/openstack.py
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Dropped minimum OpenStack SDK version in inventory plugin
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Add SDK logging option for openstack ansible collections.
  ci/roles/logging/defaults/main.yaml
  ci/roles/logging/tasks/main.yaml
  ci/run-collection.yml
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Release 1.10.0 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Update quota for 2.0.0
  .zuul.yaml
  ci/roles/quota/defaults/main.yml
  ci/roles/quota/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/quota.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Replaced expensive get_server() and fixed issues in server module
  ci/roles/server/tasks/main.yml
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored stack module and use stack's tag(s) attribute
  .zuul.yaml
  ci/roles/orchestration/tasks/main.yaml
  ci/roles/stack/defaults/main.yaml
  ci/roles/stack/files/hello-world.yaml
  ci/roles/stack/tasks/main.yaml
  ci/run-collection.yml
  plugins/modules/stack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactor server_volume to be compatible with openstacksdk>=0.99.0
  .zuul.yaml
  ci/roles/server_volume/defaults/main.yml
  ci/roles/server_volume/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/server_volume.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Bump minimum required openstacksdk release to 0.102.0
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored floating_ip and floating_ip_info modules
  .zuul.yaml
  ci/roles/floating_ip/defaults/main.yml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/floating_ip_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/floating_ip.py
  plugins/modules/floating_ip_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored stack_info module and allow to filter by owner and project names
  plugins/modules/stack_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Do not enforce optional params in network module
  plugins/modules/network.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, tripleo-ci-centos-9-standalone-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored baremetal_node and baremetal_node_info modules
  ci/roles/baremetal_node/defaults/main.yml
  ci/roles/baremetal_node/tasks/main.yml
  plugins/modules/baremetal_node.py
  plugins/modules/baremetal_node_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Refactored baremetal_node_action module
  plugins/modules/baremetal_node_action.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-devel: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-9-standalone-osa: (any of: ^.zuul.yaml$, ^plugins/module_utils/openstack.*$, ^plugins/modules/catalog_service.*$, ^plugins/modules/compute_flavor.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/image.*$, ^plugins/modules/keypair.*$, ^plugins/modules/network.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/router.*$, ^plugins/modules/stack.*$, ^plugins/modules/subnet.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^changelogs/.*$, ^contrib/.*$, ^docs/.*$, ^meta/.*$, ^requirements.*$, ^setup.*$, ^tests/.*$, ^tools/.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
